@using YourLibrary.ViewModels
@model CreateBookViewModel

<div class="container">
<main>
<div class="row g-5">
<div class="col-md-7 col-lg-8">
    <h4 class="mb-3">Add a book</h4>
    <form method="post"  asp-action="Create" enctype="multipart/form-data">
        <div class="row g-3">
            <div class="col-12">
                <label asp-for="Name" class="form-label">Name</label>
                <input asp-for="Name" class="form-control" placeholder="Name of book" required>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="col-12">
                <label asp-for="Author.Name" class="form-label">Author</label>
                <input asp-for="Author.Name" class="form-control" placeholder="Name of author" required>
                <span asp-validation-for="Author.Name" class="text-danger"></span>
            </div>
            
            <div class="col-12">
                <label asp-for="Image" class="form-label">Image</label>
                <input asp-for="Image" type="file" class="form-control" placeholder="Image">
            </div>
            
            <button class="w-100 btn btn-primary btn-lg" type="submit">Add</button>
        </div>
    </form>
</div>
</div>
</main>
</div>
